body {
	background-color: #f0f0f5;
	color: #555;
	font: 17px Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	margin: 0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
section{
	width:100%;
	height:95vh;
	background-repeat:no-repeat;
	background-size:cover;
}
navy{
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:60px;
	background-color#FFFFFF;
	box-shadow:2px 2px 12px rgba(0,0,0,0,2);
	padding:0px 5%;
}
nav ul{
	display:flex;
}
nav ul li a{
	margin:30px;
	font-family: myriad pro regular;
	color:#505050;
	font-size:15px;
	font-weight:700;
}
.logo{
	font-family: RoadTest;
	color:#000000;
	font-size:22px;
}
.active{
	font-weight:bold;
	color:#2d2a2a;
}
.text-container p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#6d6d6d;
	font-size:22px;

}
.text-container p:nth-child(2){
	font-family: calibri;
	font-weight:bold;
	letter-spacing:1px;
	color:#lalala;
	font-size:60px;

}
.text-container p:nth-child(3){
	font-family: myriad pro regular;
	color:#403e3e;
	font-size:30px;
	line-height:30px;

}
.text-container p{
	line-height:0px;
	margin:45px 0px 25px;
}
.text-container{
	position: absolute;
	left:13%;
	top:42%;
	transform:translate(-13%,-42%);
}
.about-container{
	width:80%;
	height:330px;
	background-color:#FFFFFF;
	border-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display:flex;
	margin:-7% auto 20px auto;
	position:relative;
	justify-content:space-evenly;
	align-items:center;
	
}
.about-container img{
	height:250px;
}
.about-text{
	width:550px;
}
.about-text p:nth-child(1){
	color:#403e3e;
	font-family: myriad pro;
	font-weight:bold;
	font-size:23px;
	line-height:0px;
}
.about-text p:nth-child(2){
color:#7e7d7d;
font-family:calibri;
font-size:16px;
}

.projects-text p:nth-child(1){
 font-family: calibri;
 font-weight:bold;
 color:#1d1c1c;
 font-size:30px;
 line-height:0px;
}

.projects-text p:nth-child(2){
font-family:calibri;
color:#7e7d7d;
font-size: ;}
.projects-text{
 width: 500px;
 margin:50px 0px;
}
.Skills-text p:nth-child(1){
 font-family: calibri;
 font-weight:bold;
 color:#1d1c1c;
 font-size:30px;
 line-height:0px;
}
.Skills-text p:nth-child(2){
 font-family:calibri;
 font-weight: bold;
 color:#3e3d3d;
 font-size: 15px;
 line-height: 5px;
}
.Skills-text p:nth-child(3){font-family:calibri;
color:#7e7d7d;
font-size: ;}
.Skills-text{
 width: 500px;
 margin:50px 0px;
}
.contact-me{
 width: 100%;
 height:280px;
 background-size:cover;
 background-repeat:no-repeat;
 background-image: url("");
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 0px 0px 20px 0px;
}
.contact-me p{
 color:#8585ad;
 font-size: 30px;
 font-family: calibri;
 font-weight:bold;
 border-bottom:2px solid #ffffff;
}
.contact-me button{
 width:200px;
 height:40px;
 background-color: #8585ad;
 border:none;
 outline:none;
 font-size:14px;
 font-weight:bold;
}
footer p{
 font-family: calibri;
}
footer p:nth-child(1){
 font-size: 30px;
 font-weight:bold;
 color:#191919;
 line-height:10px;
}
footer p:nth-child(2){
 font-size: 16px;
 color:#7e7d7d;
 width:600px;
 text-align: center;
}
footer{
 height:300px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
}
